*{
    box-sizing: border-box;
}

main{
    background-color: #ebebeb;
    text-align: center;
}

form h1{
    text-align: center;
}


.form-control input{
    margin: 30px;
    width: 70%;
    height: 40px;
}

.button button{
    margin: 30px;
    width: 70%;
    height: 40px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.button button:hover{
    background-color: #0022AA;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: auto;
} 

header {
    background-color: #EAC926;
}


.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo{
    width: 50%;
}

.header img{
    padding: 20px 0px 0px 10px;
    width: 100%;
}

.header form{
    padding-top: 20px;
}

.header button{
    position: absolute;
    top:31px;
    right: 1px;
    height: 17px;    
    background-color: white;
    border: none;

}   

.header .search{
    position: relative;
    width: 45%;
}

.header input{
    width: 100%;
    margin: 10px 0px;
}

.bar-icon i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}
.bar-icon{
    text-align: center;
}

.main-navbar{
    display: none;
}

.main-navbar a{
    text-decoration: none; 
   color: black;
   display: inline-block;
   padding: 0px;
   margin: 3px;  
}

.main-navbar ul{
    list-style: none;
    padding: 0px;
    margin: 0px;    
}
.navbar-separado{
    margin:0px 0px 20px;
}

.icono-dolar{
    text-align: center;
    padding: 40px 10px 0px 10px;
}


footer{
    text-align: center;  
    padding-top: 70px;  
}

.text-copyright{
    text-align: left;
    margin: 25px 0px;
    padding-top: 40px;
    font-size: 14px;
}

.footer-main i{
    font-size: 2em;
    color: blue;
    margin-top: 70px;
}

.footer-main div{
    margin: 10px 0px;
}

@media (min-width:361px){

        .header form{
            padding-top:20px;
        }
        
        .header input{
            height: 25px;
        }
    
        .header button{
        top:31px;
        height: 23px;
        }
}


@media (min-width:769px){   
    
    .main-navbar{
        display: block;
    }

    .logo, .icono-dolar, .header .search {
        width: 30%;
    }

    .bar-icon{
        display: none;
    }


    .header.search{
        padding-top: 20px;
    }

    .main-navbar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 30px 0px 0px;
    }

    .navbar-separado{
        margin:0px 100px 0px 5px;
    }

    
    .footer-main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-main i:hover{
        color: #EAC926;;
    }

    .form-control input{
        width: 50%;
    }
}